@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body, * { font-family: 'Open Sans', sans-serif; }
:root {
	--primary: #6C63FF;
	--secondary : #262626;
	--tertiary : #e3dede;
	--white : #FFF;
  }
body
{
	color: var(--secondary);
	font-size: 16px;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
h1 {
	color: var(--primary);
	margin-bottom: 10px;
}
h2 {
	color: var(--secondary);
	margin-bottom: 0;
}
p:first-of-type {
	margin-top: 5px;
}
a
{
	text-decoration: none;
}
input
{
	padding-left: 5px;
}
select, input {
	background: var(--white);
	border: solid 1px var(--secondary);
	border-radius: 3px;
	font-size: 1rem;
}

.primary{
	background-color: var(--primary);
	color: var(--white);
}

.secondary{
	background-color: var(--tertiary);
	color: var(--secondary);
}

button {
	cursor: pointer;
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	text-align: center;
	box-shadow: 0px 3px 4px var(--tertiary);
	letter-spacing: 0.2px;
	transition: background 0.2s;
}

button + button {
	margin-left: 5px;
}
input[type="radio"] { margin-right: 10px; }
#header
{
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 60px;
	min-width: 860px;
	background: var(--tertiary);
	box-shadow: 0px 2px 5px var(--tertiary);
}

#main
{
	position: relative;
	padding-left: 20px;
	padding-left: 20px;
}
#pxNum
{
	width: 50px;
}
.option-row
{
	display: flex;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 5px;
}

#popupBody
{
	font-size: 100%;
	width: 300px;
	background: var(--white);
	height:250px;
}
#popupTitle
{
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	top: 10px;
	left: 70px;
	font-size: 24px;
	font-weight: normal;
}
#checkmark
{
	position: absolute;
	height: 21px;
	color: var(--primary);
	top: 5px;
	left: 300px;
}
.popupText
{
	left:0px;
	right:0px;
	width:100%;
}
#options-cont
{
	margin-top: 15px;
	padding-bottom: 5px;
	width:100%;
	color: var(--secondary);
	text-align: center;
}
#buttons-bar
{
	position: relative;
	margin-top: 35px;
}
#buttons-bar button {
	font-size: 1rem;
}
#popupHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	right:0px;
	width:100%;
	height:30px;
	letter-spacing: 1px;
	font-size:18px;
	padding:4px;
	text-align: center;
	font-weight:500;
	box-shadow:0px 3px 6px var(--tertiary);
	fill: currentColor;
}
#popupRemainder {
	top:70px;
	right:5px;
	text-align:center;
	letter-spacing:0.5px;
	font-size:14px;
	padding-top:15px;
}
.popupHeaderText {
	padding-left: 4px;
	vertical-align: middle;
}
svg {
	fill: currentColor;
	width: 24px;
}
i {
	padding-right:4px;
	vertical-align: middle;
	cursor: pointer;
}
.textEmphasize {
	color:var(--primary);
	font-weight: 500;
}
.popupRemainderText {
margin-left: 10%;
margin-right: 10%;
}

.button-limit {
	color: var(--primary);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	margin-bottom: 5px;
	cursor:pointer;
}

.button-limit-text {
	vertical-align: middle;
}

#button-container {
	text-align:center;
}

.refresh-icon {
	background-color: var(--secondary);
	color: var(--white);
	font-size: 24px;
	position: relative;
	padding-bottom: 13px;
	border-radius: 500px;
	padding-left: 11px;
	padding-right: 9px;
	padding-top: 2px;
	vertical-align: baseline;
	box-shadow: 0px 1px 3px var(--tertiary);
	display: inline-block;
	margin-bottom: -10px;
}

#refresh-container {
	padding-top:20px;
	cursor:pointer;
}

* {
	box-sizing: border-box;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col{
	float: left;
	width: 50%;
}

@media screen and (max-width: 600px) {
	.col {
	  width: 100%;
	}
  }

img{
	max-width: 100% !important;
}  
